# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\APTX-4869\CommunityDetection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
